<div class="row higlited">
    <div class="col-md-4">
        <app-image-component link="https://cdn1.edgedatg.com/aws/v2/abc/MarvelsAgentsofSHIELD/showimages/0a6568dab60e35afbbfc3b26d2d79c67/1200x627-Q80_0a6568dab60e35afbbfc3b26d2d79c67.jpg"
            title="Agents of Shield" description="confira detalhes da nova temporada."></app-image-component>
    </div>

    <div class="col-md-4">
        <app-image-component link="https://i.ytimg.com/vi/XXGq_AKsp9s/maxresdefault.jpg" title="God of War 4" description="Assista o trailer do novo jogo da franquia."></app-image-component>
    </div>

    <div class="col-md-4">
        <app-image-component link="https://popcultura.com.br/wp-content/uploads/2017/05/gotham_header_h_2015.jpg" title="Gotham 4º Temporada"
            description="O agente Gordom tera bastante trabalho nesta nova temporada."></app-image-component>
    </div>
</div>
<div class="postagem">
    <app-post></app-post>
</div>