$borda : 3px solid #e10a0f;
$lowSize: 993px;

.higlited{
    background: #000000;            
    min-height: 250px; 
    width: 100%;      
    margin-left: 0px;      
    border-top: 4px solid black;;     
}