<div class="col-md-12 bigImage">
    <img [src]="'http://guiadanetflix.com.br/wp-content/uploads/2017/08/the-flash-curiosidades.jpg'">
    <div class="bigPost">
        <h2>The Flash</h2>
        <p>Confira em primeira mao todas as novidades da proxima temporada.</p>
    </div>
</div>