.bigImage{     
   position:  relative;   
   padding: 0;    
   min-height: 100px;
    img{        
        width: 100%;  
    }   
    .bigPost{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;                
        max-height: 50%;    
        background: rgba(0,0,0,.8);
        padding: 6px;
        color: white;
        transition: .4s;         
        @media screen and (max-width: 485px) {
            max-height: 100%;
            height: 100%;
            bottom: -36%;
            transition: .4s;
            &:hover{
                bottom: 0;
                cursor: pointer;
            }
        }             
    }
    @media screen and (max-width: 485px) {
        overflow-y: hidden;        
    }
}

