.embreve-itens{    
    padding: 0;  
    margin: 15px 0;
    .embreve-image{        
        img{
            width: 100%;
        }
    }
    .post{     
        padding: 0  15px;        
        h3{
            margin-top: 5px;
        }       
    }
}