$transparentWhite : rgba(255, 255, 255, 0.5);
$vermelho : #e10a0f;


a{
    text-decoration: none; 
    color: white;      
}

a.active{
    color: $vermelho;
    :after{
        content: "";
        position: absolute;        
        height: 30px;
        width: 3px;
        left: 0; 
        margin-top: -2px;
        background: $vermelho;
              
    }
}

.itemMenu{
    display: flex;
    align-items: center;    
    height: 40px;
    width: 100%;    
    font-size: 18px;   
    transition: .2s;  
    border-bottom: 2px solid $transparentWhite;
    &:hover{
        cursor: pointer;        
        border-left: 2px solid $vermelho;
        background: $transparentWhite;
        color: #2d2d2d;
    } 
    label{
        &:hover{
            cursor: pointer;
        }
    }    
    span{
        margin-left: 12px;
    }
    label{
        height: 30px;                        
        margin-left: 14px;
        font-size: 26px;
    }   

}