<div class="menu" #menu>
    <div class="titleMenu">
        <h1>menu</h1>
    </div>
    <app-menu-itens classe="fa fa-home" link="home" texto="Inicio" (click)="toogleMenu()"></app-menu-itens>
    <app-menu-itens classe="fa fa-clock-o" link="em-breve" texto="Em Breve" (click)="toogleMenu()"></app-menu-itens>
    <app-menu-itens classe="fa fa-bullhorn" link="#" texto="Em Cartaz" (click)="toogleMenu()"></app-menu-itens>
    <app-menu-itens classe="fa fa-television" link="#" texto="Series de Tv" (click)="toogleMenu()"></app-menu-itens>
    <app-menu-itens classe="fa fa-gamepad" link="#" texto="Games" (click)="toogleMenu()"></app-menu-itens>
</div>
<div class="openmenu" (click)="toogleMenu()" #openMenu>
    <input type="checkbox" name="openmenu" [(ngModel)]="statusMenu">
    <span class="glyphicon" [ngClass]="{'glyphicon-menu-left':statusMenu,' glyphicon-menu-right':!statusMenu}"></span>
</div>