$vermelho : #e10a0f;

.menu{    
    position: fixed;
    overflow-x: hidden;
    height: 100%;
    top: 0;
    left: -250px;     
    width: 250px;    
    height: 100%;
    background: #2d2d2d;      
    transition: .4s; 
    color: white;   
    z-index: 999; 
    .titleMenu{
        display: flex;
        height: 93px;
        justify-content: center;
        width: 100%;
        border-bottom: 3px solid $vermelho;
    }    
}

.openmenu{
    position: fixed;    
    top: 50%;
    left: 0px;
    display: flex;    
    align-items: center; 
    height: 50px;
    width: 30px;
    background: $vermelho;
    border-radius: 0px 25px 25px 0;
    font-size: 35px;    
    opacity: .5;
    transition: .4s;  
    z-index: 999;  
    &:hover{
        opacity: 1;
        cursor: pointer;
    }    
    input{
        display: none;  
    }    
    span{
        margin-left: -5px;
    }
}