.materia{
    margin-left: 0;
    width: 100%;
    legend{
        text-align: center;
    }
    .image{
        img{
            width: 100%;
        }
    }
    .text{
        margin-top: 15px;           
        font-size: 18px;
    }
}