<div class="row materia">
  <div class="col-md-10 col-md-offset-1 image">
    <legend>
      <h2>Thor-Ragnarok</h2>
    </legend>
  </div>
  <div class="col-md-8 col-md-offset-2 image">
    <img src="https://techdigg.com/wp-content/uploads/2017/04/Thor-Ragnarok.jpg">
  </div>
  <div class="col-md-8 col-md-offset-2 text">
    No filme da Marvel Studios, "Thor: Ragnarok", Thor é preso do outro lado do universo, sem o seu martelo poderoso e encontra-se
    numa corrida contra o tempo para voltar a Asgard e impedir Ragnarok - a destruição do seu mundo e o fim da civilização
    Asgardiana -, que se encontra nas mãos de uma nova e poderosa ameaça, a implacável Hela. Mas, primeiro precisa de sobreviver
    a uma luta mortal de gladiadores, que o coloca contra um ex-aliado e companheiro Vingador - Hulk.
  </div>


</div>