$borda : 3px solid #e10a0f;
$lowSize: 993px;

.header{
    display: flex;
    align-items: center;
    height: 90px;
    width: 100%;   
    background: #2d2d2d;    
    color: white;
    h1{        
        height: 48px;         
        @media screen and(max-width:472px) {
            display: none;   
        }
    }
    @media screen and(max-width: $lowSize) {
        justify-content: center;
    }  
}
.subheader{
    background: #000000;
    border-top: $borda;    
    width: 100%;
    margin-left: 0;
    .subheader-image{                
        img{      
            width: 100%;          
        }
        span{            
            position: absolute;
            top: 0;
            right: 20%;
            width: 180px;
            margin-top: 30px;
            color: white;
            outline: black;            
            font-size: 16px;
        }
    }
}