<div class="header">
  <img src="../../assets/logo.jpg">
  <h1>Bem Vindo(a)</h1>
</div>
<div class="row subheader">
  <div class="col-md-7 subheader-image">
    <img [src]="'https://cdn1.edgedatg.com/aws/v2/abc/MarvelsAgentsofSHIELD/showimages/0a6568dab60e35afbbfc3b26d2d79c67/1200x627-Q80_0a6568dab60e35afbbfc3b26d2d79c67.jpg'">
    <span>
      <p>Nova Temporada terças 20 de setembro </p>
    </span>
  </div>
</div>