legend{
    font-size: 36px;
    max-width: 98%;
    font-weight: bold;
    margin-left: 15px;
    text-align: center;
    margin-top: 5px;
    @media screen and (max-width:745px) {
        width: 94%;
    }
}

.posts{   
    margin-left: 0;  
    width: 100%;      
    margin-top: 5px;
    padding: 0 5px 0 5px;
    .postBigImg{
    }
    .postSmallImg{
        border-left: 2px solid black;
        margin-bottom: 5px;   
    }
    
    .imageLef{
        padding-left: 0;
        @media screen and (max-width:991px) {
            padding: 0;
        }
    }

    .imageRigth{
        padding-right: 0;
        @media screen and (max-width:991px) {
            padding: 0;            
        }
    }
}