<legend>Series</legend>
<div class="row posts">
  <div class="col-md-8 col-md-offset-2 postBigImg">
    <app-big-post></app-big-post>
  </div>
  <div class="col-md-8 col-md-offset-2">
    <div class="col-md-6 imageLef">
      <app-small-post></app-small-post>
    </div>
    <div class="col-md-6 imageRigth">
      <app-small-post></app-small-post>
    </div>
  </div>
</div>