$imageResize: 993px;
$imageLowSize: 603px;

.image{    
    display: flex;
    position: relative;
    justify-content: center;
    height: 250px;    
    min-width: 200px;  
    margin-top: 10px;          
    color: white;
    padding: 0;
    &:hover{
        color: #e10a0f;
        cursor: pointer;
    }

    img{
        width: 100%;                  
        object-fit: cover; 
        object-position: 15% 15%;                             
    }
    
    .description{
        position: absolute;
        background: rgba(45, 45, 45, .7);
        width: 100%;       
        bottom: 0;
        padding-left: 6px;               
    }
}