.em-breveConteudo{
    margin-left: 0;
    width: 100%;    
    legend{
        text-align: center;
        h2{
            font-weight: bold;
        }
    }
    .emBreveConteudoPostagem{
        border-bottom: 2px solid rgba(105, 105, 105, .6);
    }
}