<div class="row em-breveConteudo">
    <legend>
        <h2> Em Breve </h2>
    </legend>
    <div class="col-md-10 col-md-offset-1 emBreveConteudoPostagem">
        <app-em-breve-postagem></app-em-breve-postagem>
    </div>
</div>