<div class="smalContent">
  <div class="smallImage">
    <img src="https://www.maistecnologia.com/wp-content/uploads/2017/08/game-of-thrones.jpg">
  </div>
  <div class="smallPostagem">
    <h4>Game of thrones</h4>
    <p>A sétima temporada de Game of Thrones já está acabando, e uma prévia do que vai acontecer no último episódio -- transmitido
      no último ...</p>
  </div>
</div>