.smalContent{       
    position: relative;
    overflow:hidden;    
    top: 10px;    
    margin-bottom: 10px;
    width: 100%;
    color: white;         
    .smallImage{
        min-height: 200px;
        img{    
            width: 100%;
            object-fit: cover;
            object-position: 15% 15%;
        }
    }
    .smallPostagem{
        position: absolute;
        width: 100%;
        bottom: -40%;
        height: 100%;
        background: rgba(0,0,0,.8);
        padding: 6px;  
        overflow-y: hidden; 
        transition:.4s;
        user-select: none;        
        &:hover{            
            bottom: 0px;
            cursor: pointer;            
        } 

        @media screen and (max-width: 991px){
            bottom: -70%;
        }

        @media screen and (max-width: 635px){
            bottom: -40%;            
        }
    } 
    @media screen and (max-width: 453px) {
        height: 140px;
    }   
}